@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "regular";
    src: local("Jost-Regular"),
    url("./assets/fonts/Jost-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "bold";
    src: local("Jost-Bold"),
    url("./assets/fonts/Jost-Bold.ttf") format("truetype");
} */

@font-face {
    font-family: "Space Grotesk";
    src: local("SpaceGrotesk"),
    url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Fliege Mono";
    src: local("FliegeMono"),
    url("./assets/fonts/FliegeMonoVF.ttf") format("truetype");
}
