@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "regular";
    src: local("Jost-Regular"),
    url("./assets/fonts/Jost-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "bold";
    src: local("Jost-Bold"),
    url("./assets/fonts/Jost-Bold.ttf") format("truetype");
} */

@font-face {
    font-family: "Space Grotesk";
    src: local("SpaceGrotesk"),
    url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Fliege Mono";
    src: local("FliegeMono"),
    url("./assets/fonts/FliegeMonoVF.ttf") format("truetype");
}

.character {
    border: none;
    font-size: 20px;
    border-radius: 8px;
    height: 70px;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
   
    color: #272729;
    background-color: #cfced6;
    box-shadow: 0 2px 0 #e4e2f5;
  }
